//@import 'bulma/sass/utilities/_all.sass';
@import '~bulma/sass/utilities/initial-variables'; @import '~bulma/sass/utilities/functions';

@font-face {
  font-family: 'CoFoSans-Regular';
  src: url('~assets/fonts/CoFo_Sans-Regular.woff2') format('woff2'),
        url("~assets/fonts/CoFo_Sans-Regular.woff") format("woff");

}

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
$family-sans-serif: "CoFoSans-Regular", sans-serif;
$body-line-height: 1.3; 
$text: $black;
$body-color: $text;
$content-heading-weight: $weight-normal;
$content-heading-color: $black;
$subtitle-color: $black;
$title-color: $black;

//$family-sans-serif: sans-serif;

// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
//$body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// 2. Set your own initial variables
// Update blue
//$blue: #72d0eb;

// Add pink and its invert

//$pink: #ffb3b3;
//$pink-invert: #fff;

// Add a serif family
//$family-serif:  -apple-system, system-ui, sans-serif;
//$family-sans-serif: -apple-system, system-ui, sans-serif;
//$navbar-item-img-max-height: 70px;


$navbar-item-color: $black;
//$navbar-height: 5rem;
//$navbar-item-img-max-height: 4rem;
//$navbar-item-img-max-height: 4rem;
$navbar-item-hover-background-color: transparent;
//$navbar-background-color: #F7F72F;
//$navbar-background-color:#5D7A8C;
//$navbar-background-color: #A3C9D9;
$footer-padding: 1rem 1.5rem 1rem !default

.is-size-6a{
    font-size: 0.9rem;
}

.is-size-5a{
  font-size: 1.1rem;
}

$link: black;
$footer-background-color: $white;

// customize styles

//$black: #343434; 
//$family-sans-serif: Avenir, sans-serif;



  .page-enter-active, .page-leave-active {
    transition: opacity .5s
  }
  .page-enter, .page-leave-active {
    opacity: 0
  }
  
.section{
  min-height: 85vh;
}


@import '~bulma';
@import '~sszvis/build/sszvis';


