//@import 'bulma/sass/utilities/_all.sass';
@import '~bulma/sass/utilities/initial-variables'; @import '~bulma/sass/utilities/functions';

// Set your brand colors
// $purple: #8A4D76;
// $pink: #FA7C91;
// $brown: #757763;
// $beige-light: #D0D1CD;
// $beige-lighter: #EFF0EB;

// // Update Bulma's global variables
//$family-sans-serif: "Nunito", sans-serif;
//$family-sans-serif: sans-serif;

// $grey-dark: $brown;
// $grey-light: $beige-light;
// $primary: $purple;
// $link: $pink;
// $widescreen-enabled: false;
// $fullhd-enabled: false;

// // Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
// $control-border-width: 2px;
// $input-border-color: transparent;
// $input-shadow: none;

// 2. Set your own initial variables
// Update blue
//$blue: #72d0eb;

// Add pink and its invert

//$pink: #ffb3b3;
//$pink-invert: #fff;

// Add a serif family
//$family-serif:  -apple-system, system-ui, sans-serif;
$family-sans-serif: -apple-system, system-ui, sans-serif;
//$navbar-item-img-max-height: 70px;


$navbar-item-color: $black;
$navbar-height: 4.5rem;
$navbar-item-img-max-height: 4rem;

.is-size-6a{
    font-size: 0.9rem;
}
// customize styles

//$black: #343434; 
//$family-sans-serif: Avenir, sans-serif;



@import '~bulma';